@import url("https://fonts.googleapis.com/css?family=Cinzel&display=swap");

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(203, 15%, 37%);
}
main {
  font-family: "Cinzel", sans-serif;
  height: 100rem;
  width: 200rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(200px);
}
.board {
  box-shadow: 0em 0em 2em 1em #000000;
  background-color: hsl(206, 3%, 55%);
  margin: 90px auto;
  height: 90%;
  width: 90%;
  flex-direction: column;
  border-radius: 10px;
}

.player {
  height: 50%;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.point {
  font-size: 8rem;
}
.race {
  font-size: 3rem;
}
.up-race {
  position: absolute;
  bottom: 0;
  left: 7%;
}

.up-point {
}
.down-point {
}
.down-race {
  position: absolute;
  top: 0;
  left: 7%;
}
.angel {
  background: radial-gradient(
    circle,
    rgba(242, 232, 114, 1) 15%,
    rgba(246, 245, 238, 1) 90%
  );

  color: black;
}

.demon {
  background-image: radial-gradient(circle, #b11212 15%, #161614 90%);
  color: white;
}

.dice {
  position: absolute;
  left: 50%;
  top: calc(50%-10px);
  transform: translateX(-50%);
  height: 10rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  height: 100px;
}

button {
  background-color: white;
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(10px);
  padding: 0.7rem 2.5rem;
  box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
  border: none;
  cursor: pointer;
  border-radius: 10px;
  font-size: 2rem;
  font-family: inherit;
  outline: none;
}
.restart {
  position: fixed;
  top: 6%;
  left: 6%;
}

.function {
  transform: translateX(-5%);
  margin-top: 2rem;
}

.roll {
  margin: auto 3rem;
}

button:hover {
  transform: scale(1.1);
}
