.header {
  nav {
    position: relative;
    z-index: 1;
    padding: 1.0625rem 1.5rem;
  }

  &.open {
    .header__menu {
      > span:first-child {
        transform: rotate(45deg) translateY(20%);
      }

      > span:nth-child(2) {
        opacity: 0;
      }

      > span:last-child {
        transform: rotate(-45deg);
      }
    }
  }

  &__logo {
    img {
      width: 8.8125rem;
      height: 1.375rem;
      transform: translateY(10%);
    }
  }

  &__menu {
    > span {
      display: block;
      width: 30px;
      height: 2px;
      background-color: $darkBlue;
      transition: all 200ms ease-in-out;
      transform-origin: 8px center;
      &:not(:last-child) {
        margin-bottom: 3px;
      }
    }
  }

  &__links {
    a {
      position: relative;
      font-size: $font-sm;
      color: $grayishBlue;
      transition: color 300ms ease-in-out;

      &:not(:last-child) {
        margin-right: 32px;
      }

      &::before {
        content: "";
        display: block;
        position: absolute;
        height: 5px;
        left: 0;
        right: 0;
        bottom: -30px;
        background: linear-gradient(to right, $limeGreen, $brightCyan);
        opacity: 0;
        transition: opacity 300ms ease-in-out;
      }

      &:hover {
        color: $darkBlue;

        &::before {
          opacity: 1;
        }
      }
    }
  }

  &__cta {
    font-size: $font-sm;
    color: $white;
    transition: opacity 300ms ease-in-out;

    &:hover {
      opacity: 0.75;
    }
  }
}

.overlay {
  visibility: hidden;
  position: fixed;
  top: 3.75rem;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(to bottom, $darkBlue, transparent);
}
