html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-size: $font-med;
  font-weight: 300;
  font-family: "Public Sans", sans-serif;
  color: $grayishBlue;
  line-height: 1.3;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

//Flexbox
.flex {
  display: flex;

  &-jc-sb {
    justify-content: space-between;
  }

  &-jc-sc {
    justify-content: center;
  }

  &-ai-c {
    align-items: center;
  }
}

//Button
button,
.button {
  padding: 1rem 1.875rem;
  background: linear-gradient(to right, $limeGreen, $brightCyan);
  color: $white;
  font-weight: 400;
  border: 0;
  outline: none;
  border-radius: 50px;
  cursor: pointer;
}

.hide-for-mobile {
  @include breakpoint-down(medium) {
    display: none;
  }
}

.hide-for-desktop {
  @include breakpoint-up(large) {
    display: none;
  }
}
