.header {
  nav {
    padding: 24px;
    border-bottom: solid 1px black;
  }
  &__logo {
    img {
    }
  }

  &__menu {
    > span {
      display: block;
      width: 30px;
      height: 2px;
      background-color: $darkBlue;

      &:not(:last-child) {
        margin-bottom: 3px;
      }
    }
  }

  &__links {
    a {
      position: relative;
      font-size: $font-sm;
      color: $grayishBlue;
      transition: color 300ms ease-in-out;
      &:not(:last-child) {
        margin-right: 32px;
      }

      &::before {
        content: "";
        display: block;
        height: 5px;
        left: 0;
        right: 0;
        bottom: -40px;
        opacity: 0;
        position: absolute;
        transition: opacity 300ms ease-in-out;
        background: linear-gradient(to right, $limeGreen, $brightCyan);
      }
      &:hover {
        color: $darkBlue;
        &::before {
          opacity: 1;
        }
      }
    }
  }

  &__cta {
    font-size: $font-sm;
    color: $white;
  }
}
